<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Homework_5 </title>
        <link rel="stylesheet" href="homeTemplate.css " type="text/css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
