<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<body id="mainDiv">
	<div>
    	<div>
            <ul>
                <li class="pageList">
						 <a href="/prescription_page" class="pageText" id="newRX">
							<img class="footer_icons" src="icons/rx.png" alt="Prescription">
						 	Add Prescription
					 </a>
				 </li>
                <li class="pageList">
						 <a href="/otc_page" class="pageText" id="newOTC">
							<img class="footer_icons" src="icons/over_the_counter.png" alt="Over the counter">
							Add Over-the-Counter
						 </a>
					 </li>
                <li class="pageList">
						 <a href="/survey_instructions" class="pageText" id="survey">
							<img class="footer_icons" src="icons/survey.png" alt="Survey">
							Take Survey
						 </a>
					 </li>
                <li class="pageList">
						<a href="" class="pageText" id="calendar">
						 	<img class="footer_icons" src="icons/calendar.png" alt="calendar">
							View Or Create Calendar Reminder
					 	</a>
					</li>
            </ul>
        <div>
    </div>
</body>
