<body id="mainDiv">
	<div>
    	<div>
            <ul>
                <li class="pageList"><a href="/prescription_page" class="pageText" id="newRX">Add Prescription</a></li>
                <li class="pageList"><a href="/otc_page" class="pageText" id="newOTC">Add Over-the-Counter</a></li>
                <li class="pageList"><a href="/survey_instructions" class="pageText" id="survey">Take Survey</a></li>
                <li class="pageList"><a href="" class="pageText" id="calendar">View Or Create Calendar Reminder</a></li>
            </ul>
        <div>
    </div>
</body>
