<div id="mainDiv">
    <header>
        <nav>
            <ul>
                <li class="pageText firstItem"> {{userName}} </li>
                <li><a href="" id="t12pt">A</a></li>
                <li><a href="" id="t24pt">A</a></li>
                <li><a href="" id="t36pt">A</a></li>
                <li><a href="" class="pageText" id="signOut">Sign Out</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <div id ="pageName">
            <p> {{pageName}} </p>
        </div>
        <div id = "dateBlock">
            <p id="date"> {{date}} </p>
        </div>
    </div>
     <div>
        <div>
            <ul>
                <li class="pageList"><a href="/prescription_page" class="pageText" id="newRX">Add Prescription</a></li>
                <li class="pageList"><a href="/otc_page" class="pageText" id="newOTC">Add Over-the-Counter</a></li>
                <li class="pageList"><a href="/survey_instructions" class="pageText" id="survey">Take Survey</a></li>
                <li class="pageList"><a href="" class="pageText" id="calendar">View Or Create Calendar Reminder</a></li>
            </ul>
        <div>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="" class="pageText firstItem" id="home">Return To Homepage</a></li>
                <li><a href="" class="pageText" id="meds">View My Medications</a></li>
                <li><a href="" class="pageText" id="alerts">View My Alerts</a></li>
                <li><a href="" class="pageText" id="reports">View/Create Report</a></li>
            </ul>
        </nav>
    </footer>
</div>
