<div id="mainDiv">
    <header>
        <nav>
            <ul>
                <li class="pageText firstItem"> {{userName}} </li>
                <li><a href="" id="t12pt">A</a></li>
                <li><a href="" id="t24pt">A</a></li>
                <li><a href="" id="t36pt">A</a></li>
                <li><a href="" class="pageText" id="signOut">Sign Out</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <div id ="pageName">
            <p> {{pageName}} </p>
        </div>
        <div id = "dateBlock">
            <p id="date"> {{date}} </p>
        </div>
    </div>
     <div>
        <div>
            <ul>
                <li class="pageList pageText">Step 1: Read the question carefully.</li>
                <li class="pageList pageText">Step 2: Move the sliding bar to answer the question. 1 being the least intense, 10 being the most intense.</a></li>
                <li class="pageList pageText">Step 3: Click the "next" arrow to submit your answer and move to the next question.</li>
                <li class="pageList pageText">Step 4: Continue until the survey is finished.</li>
            </ul>
        <div>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="/" class="pageText firstItem" id="home">Return To Homepage</a></li>
                <li><a href="" class="pageText" id="meds">Continue To Take The Survey</a></li>
            </ul>
        </nav>
    </footer>
</div>
