<!------------------------------------------------------------------------------
-- Author: Riley Kraft
-- Date: 08/12/2018
-- Description: The over-the-counter page features the form for manually adding 
--				medication objects into the system that are not prescriptions.
-- Resources:
-- 		https://www.w3schools.com/icons/tryit.asp?filename=trybs_ref_glyph_pencil
--		https://stackoverflow.com/questions/14867558/html-tag-a-want-to-add-both-href-and-onclick-working
--		https://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_collapsible
--		http://jsbin.com/uboqu3/1/edit?html,js,output
------------------------------------------------------------------------------->

<title>otc</title>
<!-- <link rel = "stylesheet" href= "style/home_style.css" type = "text/css"/> homepage style sheet-->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> edit icons -->
<link rel = "stylesheet" href= "/otc_style.css" type = "text/css"/>            <!-- over the counter style sheet -->
                                                                                <!-- body of the page -->
<div id="content">
	<fieldset>
		<legend>New Over the Counter</legend>
		<form id="newOTC">											                     <!-- Over the Counter form -->					
			<fieldset>
				<input type="text" value="Name" name="name" id="name">                   <!-- Name input -->
				<!-- <a href="#" onlclick="enable('name')">
					<span class="glyphicon glyphicon-pencil"></span>
				</a> edit icon -->
			</fieldset>
		
			<fieldset>
				<legend>Dosage</legend>                                                  <!-- Dosage input -->
				<div>
					<input type="number" id="dosage" name="dosage" value="0" width="10">
					<select id="dosage_unit" name="dosage_unit">
						<option>mg</option>
						<option>g</option>
						<option>tsp</option>
						<option>Tbsp</option>
						<option>patch</option>
						<option>spray</option>
						<option>drops</option>
					</select>
				</div>
			</fieldset>
		
			<fieldset>
				<legend>Instructions</legend>                                            <!-- Instructions input -->
				<div>
					<input type="text" id="instructions" name="instructions" value="">
					<!-- <a href="#" onlclick="enable('instructions');">
 						<span class="glyphicon glyphicon-pencil"></span>
					</a> edit icon -->
				</div>
				
				<div>
 					<label><input type="checkbox" id="food" value="with food">with food</label><br>
 					<label><input type="checkbox" id="water" value="with water">with water</label><br>
 					<label><input type="checkbox" id="bed" value="before bed">before bed</label><br>
				</div>
			</fieldset>
		
			<fieldset>
				<legend>Reminders</legend>                                               <!-- Reminders input -->
				<div>
					<label>take as needed</label>
 					<!-- dosage reminder settings -->
				</div>
			</fieldset>
		
			<fieldset>
				<legend>Schedule</legend>                                                <!-- Schedule input -->
				<div>
					<label>Start Date<input type="date" id="start_date" name="start_date"></label><br>
					<label>Expir Date<input type="date" id="expir_date" name="expir_date"></label>
				</div>
			
				<div>
					<label>Duration:</label><br>                                         <!-- Duration input -->
					<label><input type="radio" id="duration" name="duration" value="limit">limit</label>
					<input type="number" id="duration_count" name="duration_count" value="1">
					<select id="duration_unit" name="duration_unit">
						<option value="days">day(s)</option>
						<option value="weeks">week(s)</option>
						<option value="months">month(s)</option>
						<option value="years">year(s)</option>
					</select>
					<br>
					<label><input type="radio" id="duration" name="duration" value="no limit">no limit</label>
				</div>
			</fieldset>
			
			<fieldset>
				<div>
   					<label>Frequency:</label><br>
   					<label><input type="radio" name="frequency" id="frequency" value="every day">everyday</label><br>
   					<label><input type="radio" name="frequency" id="frequency" value="every">every</label>
   					<input type="number" name="count" id="count" value=""><label>days</label><br>
   					<label><input type="radio" name="frequency" id="frequency" value="custom">custom</label>
   					<label><input type="checkbox" name="sun" id="sun" value="sun">Sun</label>
   					<label><input type="checkbox" name="mon" id="mon" value="mon">Mon</label>
   					<label><input type="checkbox" name="tue" id="tue" value="tue">Tue</label>
   					<label><input type="checkbox" name="wed" id="wed" value="wed">Wed</label>
   					<label><input type="checkbox" name="thu" id="thu" value="thu">Thu</label>
   					<label><input type="checkbox" name="fri" id="fri" value="fri">Fri</label>
   					<label><input type="checkbox" name="sat" id="sat" value="sat">Sat</label>  				
   				</div>
			</fiedlset>
			
		
			<fieldset>
				<button type="submit" id="addOTC" name="addOTC">Submit</button>		                <!-- Submit button -->
			</fieldset>
		</form>
	</fieldset>
</div>
        
<script src="/otc_script.js"> </script>
