<!------------------------------------------------------------------------------
-- Author: Riley Kraft
-- Date: 08/07/2018
-- Description: The prescription page features the form for manually adding 
--				prescription objects into the system.
-- Resources:
-- 		https://www.w3schools.com/icons/tryit.asp?filename=trybs_ref_glyph_pencil
--		https://stackoverflow.com/questions/14867558/html-tag-a-want-to-add-both-href-and-onclick-working
--		https://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_collapsible
--		http://jsbin.com/uboqu3/1/edit?html,js,output
------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">	
    <head>
    	<meta charset="utf-8">
		<title>prescription</title>
		<!-- <link rel = "stylesheet" href= "style/home_style.css" type = "text/css"/> homepage style sheet-->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> edit icons -->
        <link rel = "stylesheet" href= "style/prescription_style.css" type = "text/css"/>
        
        <nav>
            <ul>
                <li class="pageText"> {{userName}} </li>
                <li><a href="" id="12pt">A</a></li>
                <li><a href="" id="24pt">A</a></li>
                <li><a href="" id="36pt">A</a></li>
                <li><a href="" class="pageText" id="signOut">Sign Out</a></li>
            </ul>
        </nav>
    </head>
    
    <body id="content">
        <div id="feature">
        	<fieldset>
        	<legend>New Prescription</legend>
			<form id="newPrescription">																
				<fieldset>
					<input type="text" value="Name" name="name" id="name">
					<!-- <a href="#" onlclick="enable('name')">
						<span class="glyphicon glyphicon-pencil"></span>
					</a> edit icon -->
				</fieldset>
				
				<fieldset>
       				<legend>Prescription</legend>
       				<div>
       					<!-- <input type="file" onchange="readURL(this);">
    					<img id="blah" src="#" alt="your image"> -->
       				</div>
     			</fieldset>
     			
     			<fieldset>
       				<legend>Dosage</legend>
       				<div>
						<input type="number" id="dosage" value="0" width="10">
						<select>
							<option>mg</option>
							<option>g</option>
							<option>tsp</option>
							<option>Tbsp</option>
							<option>patch</option>
							<option>spray</option>
							<option>drops</option>
						</select>
       				</div>
     			</fieldset>
     			
     			<fieldset>
       				<legend>Instructions</legend>
       				<div>
       					<input type="text" id="instructions" value="">
       					<!-- <a href="#" onlclick="enable('instructions');">
         					<span class="glyphicon glyphicon-pencil"></span>
       					</a> edit icon -->
       				</div>
       				<div>
         				<label><input type="checkbox" id="food" value="with food">with food</label><br>
         				<label><input type="checkbox" id="water" value="with water">with water</label><br>
         				<label><input type="checkbox" id="bed" value="before bed">before bed</label><br>
       				</div>
     			</fieldset>
     			
     			<fieldset>
       				<legend>Reminders</legend>
       				<div>
       					<label>take as needed</label>
         				<!-- dosage reminder settings -->
       				</div>
     			</fieldset>
     			
     			<fieldset>
       				<legend>Schedule</legend>
       				<div>
       					<label>Start Date<input type="date" id="startDate" value=""></label><br>
       					<label>Expir Date<input type="date" id="expirDate" value=""></label>
       				</div>
       				<div>
       					<label>Duration:</label><br>
       					<label><input type="radio" id="limit" value="limit">limit</label>
       					<input type="number" id="duration" value="1">
       					<select>
       						<option value="days">day(s)</option>
       						<option value="weeks">week(s)</option>
       						<option value="months">month(s)</option>
       						<option value="years">year(s)</option>
       					</select>
       					<br>
       					<label><input type="radio" id="noLimit" value="no limit">no limit</label>
       				</div>
     			</fieldset>
     			
     			<fieldset>
       				<legend>Refills</legend>
       				<div>						
         				<label><input type="number" id="doses" value="0">Doses</label><br>			
         				<label><input type="number" id="refills" value="0">Refills</label>
       				</div>
       				<div>
       					<!-- refill reminder settings -->
       				</div>
       				<div>
       					<label>Rx Number<input type="text" id="rxNum" value=""></label><br>
       					<label>Rx Date<input type="date" id="rxDate" value=""></label><br>
       					<label>Rx Expir<input type="date" id="rxExpir" value=""></label><br>
       				</div>
     			</fieldset>
     			
     			<fieldset>
       				<legend>Doctor</legend>
       				<div>
         				<!-- add doctor -->
       				</div>
     			</fieldset>
     			<fieldset>
					<button type="submit" id="addPrescription">Submit</button>		<!-- Set submit button -->
				</fieldset>
			</form>
			</fieldset>
        </div>
        <br>
        
        <div id="footer"
	        <nav>
	            <ul>
	                <li><a href="" class="pageText" id="home">Home</a></li>
	                <li><a href="" class="pageText" id="meds">Medications</a></li>
	                <li><a href="" class="pageText" id="alerts">Alerts</a></li>
	                <li><a href="" class="pageText" id="reports">Reports</a></li>
	            </ul>
	        </nav>
        </div>
        
        <!-- <script src="javascript/prescription_script.js"> </script> -->
    </body>
</html>
